<%- include("header");%>
  <section id="about">
    <div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <img class="imageInAbout" src="./images/IMG-20230314-WA0008.jpg" alt="about"/>
        </div>
        <div class="col-lg-6 col-md-12">
           <h1>ABOUT US</h1>
           <p>
            Chengalpattu district came into existence on 29.11.2019, when it was carved out of the erstwhile Kancheepuram district. Chengalpattu district being part of the Kancheepuram district until recently and being in close geographical proximity to the city of Kancheepuram which is a cultural hub for the region, has undergone through almost all the phases of history which Kancheepuram has witnessed. From 600 AD to 900 AD the region was under the Pallava rule. It was during the Pallava reign that the Chengalpattu region attained the maximum height of prosperity and cultural glory. The temple architecture, as illustrated by the rock cut temple of Mamallapuram and other temples belonging to the contemporary period along the east coast, was at its excellence during the Pallava period.
           </p>
           <!-- {/* <button class="btn btn-lg btn-block btn-info  about-button"><a href="https://www.cmccpt.ac.in/psychiatry" target="blank">Get More</a></button> */} -->
        </div>
    </div>
</div>
 </section>

<%- include("footer");%>








<!--this corousel section-->
<!-- <section id="carousel">
  <div class="container-fluid">
    <div id="carouselExample" class="carousel slide" data-ride="false" data-interval="none" data-pause="hover">
      <div class="carousel-inner container-fluid" style="padding:25px;">
        <div class="carousel-item active">
          <h2> “Make yourself a priority. Fill yourself up so that you can give more to others.” .</h2>
          <img class="img-in-coursal"  src="/images/IMG-20230314-WA0008.jpg" width="70px" height="90px" alt="spiceimg">
          <em>Rakesh,wEb DeVeLoPeR</em>
        </div> 
        <div class="carousel-item">
            <h2>“If you’re working on something that you really care about, you don’t have to be pushed. The Vision pulls you.”</h2>
            <img class="img-in-coursal" src="/images/IMG-20230314-WA0009.jpg" width="70px" height="90px" alt="myimg">
            <strong> RAKESH M B.E. </strong> 
            <em>“Opportunities don’t happen, you create them.”</em>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" style="height:70px; width:70px; color: rgb(3, 77, 3);" aria-hidden="true"></span>
        <span class="visually-hidden" >Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" style="height:70px; width:70px; color: rgb(3, 77, 3);" aria-hidden="true"></span>
        <span class="visually-hidden" >Next</span>
      </button>

    </div>
</div>
<br>
</section> -->

