<%-include("header")%>
<section id="contact">
  <div class="container-fluid">
    <h1 style="padding:10px; ">Contact Us</h1>
    <div class="row">  
           <div class="col-lg-4 col-md-6 pricing-column" >
                <div class="card">
                 <div class="card-header"><h3>ORGANIZING CHAIRMAN</h3></div>
                  <div class="card-body">
                   <h4>Dr.V.SABITHA</h4>
                   <button class="btn btn-lg btn-block btn-dark button-in-cart" type="button">9345858954</button>
                  </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 pricing-column" >
              <div class="card">
               <div class="card-header"><h3>ORGANIZING SECRETARY</h3></div>
                <div class="card-body">
                 <h4>Dr.S.SUDHAKAR</h4>
                 <button class="btn btn-lg btn-block btn-dark button-in-cart" type="button">9884467411</button>
                </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 pricing-column" >
              <div class="card">
               <div class="card-header"><h3>ORGANIZING JOINT SECRETARY</h3></div>
                <div class="card-body">
                 <h4>Dr.R.JAYASEELAN</h4>
                 <button class="btn btn-lg btn-block btn-dark button-in-cart" type="button">9159345543</button>
                </div>
            </div>
          </div>
   </div> 
   <div class="row">  
    <div class="col-lg-4 col-md-6 pricing-column" >
         <div class="card">
          <div class="card-header"><h3>ORGANIZING TREASURER</h3></div>
           <div class="card-body">
            <h4>Dr.T.RANGANATHAN</h4>
            <button class="btn btn-lg btn-block btn-dark button-in-cart" type="button">9444174790</button>
           </div>
       </div>
     </div>
     <div class="col-lg-4 col-md-6 pricing-column" >
       <div class="card">
        <div class="card-header"><h3>ORGANIZING JOINT TREASURER</h3></div>
         <div class="card-body">
          <h4>Dr.A.HUMAYOON</h4>
          <button class="btn btn-lg btn-block btn-dark button-in-cart" type="button">9865119449</button>
         </div>
     </div>
   </div>
   <div class="col-lg-4 col-md-6 pricing-column" >
       <div class="card">
        <div class="card-header"><h3>ORGANIZING COORDINATOR</h3></div>
         <div class="card-body">
          <h4>Dr.KANMANI</h4>
          <button class="btn btn-lg btn-block btn-dark button-in-cart" type="button">9003793915</button>
         </div>
     </div>
   </div>
</div> 
</div>
</section>
<%-include("footer")%>