<%- include("header");%>
<section id="feed">
<div class="container-fluid">
  <h1>History of Chengalpattu</h1>
    <div class="cardInFeed">  
        <div class="col-lg-12  pricing-column" >
             <div class="card">
              <div class="card-header"><h1>Chengalpattu district history-1</h1></div>
               <div class="card-body">
                <img class="img-items" width="40%" height="40%"  src="https://img.traveltriangle.com/blog/wp-content/uploads/2017/08/mahabalipuram.jpg" alt='cont-1'/>
                <p>Another important  phase of the history of Chengalpattu district is the one when the region was reigned  by the Vijaynagara Empire from 1336 AD to 1675 AD. The town of Chengalpattu was formerly a capital of the kings of Vijayanagar after they were defeated by the Deccan sultanate in the battle of Talikota in 1565. The fortress at Chengalpattu, built by the Vijayanagara kings in the 16th century was of much strategic importance owing to the swamp surrounding it and the lake situated beside it.  Chengalpattu was taken by the French in 1751 and was retaken in 1752 by the British Governor Robert Clive.</p>
                <!-- <button class="btn btn-lg btn-block btn-dark button-in-cart" type="button">Message</button> -->
               </div>
           </div>
         </div>
     <div class="col-lg-12 pricing-column" >
          <div class="card">
                <div class="card-header"><h1>Chengalpattu Medical College history</h1></div>
                <div class="card-body">
                <img class="img-items" width="40%" height="40%" src="https://www.cmccpt.ac.in/images/img/logo-1.png" alt='cont-2'/>
                <p>The history of the Chengalpattu Medical College dates back to days before 1965 when this was a District Head Quarters hospital with its building in the town. In 1965, the Government of Tamil Nadu upgraded this District Headquarters hospital as a teaching institution with 250 beds for clinical training. Vedachalam Mudaliar, the then Chairman of Chengalpattu Municipality, donated a vast area, which is in pocession of this institution. Today the college is under the affiliation of The TN Dr.MGR Medical University, Chennai, State of TamilNadu, India, and is wholly administered by the Government of State of TamilNadu. The Institute is a Medical Teaching Institute Recognised by the Medical Council of India,New Delhi, India. The Medical school trains nearly 500 Under Graduate and 100 Post Graduate from around the country in various Medical Departments. This 50-years old institution was the 6th of its kind to be started in Tamil Nadu.</p>
                 <!-- <button class="btn btn-lg btn-block btn-dark button-in-cart" type="button">Message</button> -->
                 </div>
          </div>
      </div>
      <div class="col-lg-12 pricing-column" >
        <div class="card">
          <div class="card-header"><h1>DEPARTMENT OF PSYCHIATRY</h1></div>
            <div class="card-body">
            <img class="img-items" width="40%" height="40%" src="./images/IMG-20230314-WA0009.jpg" alt='cont-3'/>
            <p>The Department of Psychiatry affiliated to Chengalpattu Medical College is one of the dynamic departments in the clinical side of the hospital. Mental health can affect daily life, relationships, and even physical health. Mental health also includes a person-s ability to enjoy life - to attain a balance between life activities and efforts to achieve psychological resilience. So the motive of our department is to cater the mental health needs of the population, remove the stigma with respect to Mental Health and to promote mental health as a whole both in the individual and community level. It was budded in the year of 1998 with one Assistant and Senior Resident.</p>
            <!-- <button class="btn btn-lg btn-block btn-dark button-in-cart" type="button">Message</button> -->
            </div>
         </div>
      </div>
</div>
</div>

</div>
</section>
<%- include("footer");%>