<%- include("header");%>
<section id="report">
        <div class="container-fluid" >
          <h3 >Form</h3>
          <div class="container form-class">
          <form  class="form" action="/form" method="post">
            <div>
            <label class="form-label">First Name</label>
            <input  type="text" name="firstname"  class="form-control" placeholder="First name"></input>
            </div>
            <br><hr>
            <div>
              <label class="form-label">Last Name</label>
              <input  type="text" name="lastname"  class="form-control" placeholder="Last name"></input>
              </div>
              <br><hr>
          <div>
            <label class="form-label" >EmailId</label>
            <input  type="email" name="email"  class="form-control" placeholder="email id"/>
          </div>
          <br><hr>
          <div>
            <label class="form-label" >MobileNo</label>
            <input  type="number" name="mobileno"  class="form-control" placeholder="Mobile Number"/>
          </div>
           <br><hr>
           <div>
            <label class="form-label" >College</label>
            <input  type="text" name="college"  class="form-control" placeholder="College Name"/>
          </div>
           <br><hr>
          <!-- <div>
           <label class="form-label">Gender</label>
            <select  name="gender">
              <option  value="male">Male</option>
              <option  value="female">Female</option>
              <option  value="others">Not Interested</option>
            </select> 
          </div> 
          <br><hr> -->
          <div>
          <label class="form-label">Query</label>
          <textarea  name="message"   rows="3" cols="25" placeholder="Write here.."></textarea>
        </div>
         <br>
            <button type="submit"  class="submit btn-xl btn-dark">submit</button>
          </form>
     
        </div>
      </div>
        </section>


<%-include("footer")%>