<%- include("header");-%>
   <!-- this is home <section></section> -->
<section id="home">
<div class="container">
    <div class="container-fluid">
        <h1 class="text-center homeh1">TANPSYCON 2023</h1>
        <p class="homep">A NON PHARMA FUNDED ACADEMIC FEST & FEAST.</p>
        <p class="homep">ORGANIZED BY THE DEPARTMENT OF PSYCHIATRY.</p>
        <p class="homep">Chengalpattu Medical College Hospital.</p>
    </div>
</div>
</section>
<section id="about">
    <div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <img class="imageInAbout" src="./images/IMG-20230314-WA0008.jpg" alt="about"/>
        </div>
        <div class="col-lg-6 col-md-12">
           <h1>ABOUT US</h1>
           <p>
            Chengalpattu district came into existence on 29.11.2019, when it was carved out of the erstwhile Kancheepuram district. Chengalpattu district being part of the Kancheepuram district until recently and being in close geographical proximity to the city of Kancheepuram which is a cultural hub for the region, has undergone through almost all the phases of history which Kancheepuram has witnessed. From 600 AD to 900 AD the region was under the Pallava rule. It was during the Pallava reign that the Chengalpattu region attained the maximum height of prosperity and cultural glory. The temple architecture, as illustrated by the rock cut temple of Mamallapuram and other temples belonging to the contemporary period along the east coast, was at its excellence during the Pallava period.
           </p>
           <!-- {/* <button class="btn btn-lg btn-block btn-info  about-button"><a href="https://www.cmccpt.ac.in/psychiatry" target="blank">Get More</a></button> */} -->
        </div>
    </div>
</div>
 </section>
    <!-- this is post <section></section> -->
 <section id="feed">
    <div class="container-fluid">
        <h1>Pride of Chengalpattu</h1>
        <div class="cardInFeed">  
            <div class="col-lg-12  pricing-column" >
                 <div class="card">
                  <div class="card-header"><h1>Chengalpattu district history-1</h1></div>
                   <div class="card-body">
                    <img class="img-items" width="40%" height="40%"  src="https://img.traveltriangle.com/blog/wp-content/uploads/2017/08/mahabalipuram.jpg" alt='cont-1'/>
                    <p>Another important  phase of the history of Chengalpattu district is the one when the region was reigned  by the Vijaynagara Empire from 1336 AD to 1675 AD. The town of Chengalpattu was formerly a capital of the kings of Vijayanagar after they were defeated by the Deccan sultanate in the battle of Talikota in 1565. The fortress at Chengalpattu, built by the Vijayanagara kings in the 16th century was of much strategic importance owing to the swamp surrounding it and the lake situated beside it.  Chengalpattu was taken by the French in 1751 and was retaken in 1752 by the British Governor Robert Clive.</p>
                    <!-- <button class="btn btn-lg btn-block btn-dark button-in-cart" type="button">Message</button> -->
                   </div>
               </div>
             </div>
         <div class="col-lg-12 pricing-column" >
              <div class="card">
                    <div class="card-header"><h1>Chengalpattu Medical College history</h1></div>
                    <div class="card-body">
                    <img class="img-items" width="40%" height="40%" src="https://www.cmccpt.ac.in/images/img/logo-1.png" alt='cont-2'/>
                    <p>The history of the Chengalpattu Medical College dates back to days before 1965 when this was a District Head Quarters hospital with its building in the town. In 1965, the Government of Tamil Nadu upgraded this District Headquarters hospital as a teaching institution with 250 beds for clinical training. Vedachalam Mudaliar, the then Chairman of Chengalpattu Municipality, donated a vast area, which is in pocession of this institution. Today the college is under the affiliation of The TN Dr.MGR Medical University, Chennai, State of TamilNadu, India, and is wholly administered by the Government of State of TamilNadu. The Institute is a Medical Teaching Institute Recognised by the Medical Council of India,New Delhi, India. The Medical school trains nearly 500 Under Graduate and 100 Post Graduate from around the country in various Medical Departments. This 50-years old institution was the 6th of its kind to be started in Tamil Nadu.</p>
                     <!-- <button class="btn btn-lg btn-block btn-dark button-in-cart" type="button">Message</button> -->
                     </div>
              </div>
          </div>
          <div class="col-lg-12 pricing-column" >
            <div class="card">
              <div class="card-header"><h1>DEPARTMENT OF PSYCHIATRY</h1></div>
                <div class="card-body">
                <img class="img-items" width="40%" height="40%" src="./images/IMG-20230314-WA0009.jpg" alt='cont-3'/>
                <p>The Department of Psychiatry affiliated to Chengalpattu Medical College is one of the dynamic departments in the clinical side of the hospital. Mental health can affect daily life, relationships, and even physical health. Mental health also includes a person-s ability to enjoy life - to attain a balance between life activities and efforts to achieve psychological resilience. So the motive of our department is to cater the mental health needs of the population, remove the stigma with respect to Mental Health and to promote mental health as a whole both in the individual and community level. It was budded in the year of 1998 with one Assistant and Senior Resident.</p>
                <!-- <button class="btn btn-lg btn-block btn-dark button-in-cart" type="button">Message</button> -->
                </div>
             </div>
          </div>
    </div>
    </div>
    
    </div>
    </section>
    <!-- <this is for tariiff -->
      <section id="Tariff">
        <div class="card">
          <div class="card-header"><h3>Tariff</h3></div>
           <div class="card-body">
            <a class="btn btn-dark btn-lg" href="/table" role="button">Tariff</a>   
          </div>
       </div>
       <div class="card">
        <div class="card-header"><h3>Google form registration</h3></div>
         <div class="card-body">
          <a class="btn btn-dark btn-lg" href="https://forms.gle/xbvJ9rzq3BjoC5sS7" target="blank" role="button">Google form</a>
        </div>
     </div>
     
        </section>
       <!-- this is form <section></section> -->
       <section id="report">
        <div class="container-fluid" >
          <h3 >Form</h3>
          <div class="container form-class">
          <form  class="form" action="/form" method="post">
            <div>
            <label class="form-label">First Name</label>
            <input  type="text" name="firstname"  class="form-control" placeholder="First name"></input>
            </div>
            <br><hr>
            <div>
              <label class="form-label">Last Name</label>
              <input  type="text" name="lastname"  class="form-control" placeholder="Last name"></input>
              </div>
              <br><hr>
          <div>
            <label class="form-label" >EmailId</label>
            <input  type="email" name="email"  class="form-control" placeholder="email id"/>
          </div>
          <br><hr>
          <div>
            <label class="form-label" >MobileNo</label>
            <input  type="number" name="mobileno"  class="form-control" placeholder="Mobile Number"/>
          </div>
           <br><hr>
           <div>
            <label class="form-label" >College</label>
            <input  type="text" name="college"  class="form-control" placeholder="College Name"/>
          </div>
           <br><hr>
          <!-- <div>
           <label class="form-label">Gender</label>
            <select  name="gender">
              <option  value="male">Male</option>
              <option  value="female">Female</option>
              <option  value="others">Not Interested</option>
            </select> 
          </div> 
          <br><hr> -->
          <!-- <div>
          <label class="form-label">Query</label>
          <textarea  name="message"   rows="3" cols="25" placeholder="Write here.."></textarea>
        </div> -->
         <br>
            <button type="submit"  class="submit btn-xl btn-dark">submit</button>
          </form>
     
        </div>
      </div>
        </section>

        <!-- this is contact <section></section> -->
        <section id="contact">
          <div class="container-fluid">
            <h1 style="padding:10px; ">ORGANIZING COMMITTEE TANPSYCON 2023</h1>
            <div class="row">  
                   <div class="col-lg-4 col-md-6 pricing-column" >
                        <div class="card">
                         <div class="card-header"><h3>ORGANIZING CHAIRMAN</h3></div>
                          <div class="card-body">
                           <h4>Dr.V.SABITHA</h4>
                           <button class="btn btn-lg btn-block btn-dark button-in-cart" type="button">9345858954</button>
                          </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 pricing-column" >
                      <div class="card">
                       <div class="card-header"><h3>ORGANIZING SECRETARY</h3></div>
                        <div class="card-body">
                         <h4>Dr.S.SUDHAKAR</h4>
                         <button class="btn btn-lg btn-block btn-dark button-in-cart" type="button">9884467411</button>
                        </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 pricing-column" >
                      <div class="card">
                       <div class="card-header"><h3>ORGANIZING JOINT SECRETARY</h3></div>
                        <div class="card-body">
                         <h4>Dr.R.JAYASEELAN</h4>
                         <button class="btn btn-lg btn-block btn-dark button-in-cart" type="button">9159345543</button>
                        </div>
                    </div>
                  </div>
           </div> 
           <div class="row">  
            <div class="col-lg-4 col-md-6 pricing-column" >
                 <div class="card">
                  <div class="card-header"><h3>ORGANIZING TREASURER</h3></div>
                   <div class="card-body">
                    <h4>Dr.T.RANGANATHAN</h4>
                    <button class="btn btn-lg btn-block btn-dark button-in-cart" type="button">9444174790</button>
                   </div>
               </div>
             </div>
             <div class="col-lg-4 col-md-6 pricing-column" >
               <div class="card">
                <div class="card-header"><h3>ORGANIZING JOINT TREASURER</h3></div>
                 <div class="card-body">
                  <h4>Dr.A.HUMAYOON</h4>
                  <button class="btn btn-lg btn-block btn-dark button-in-cart" type="button">9865119449</button>
                 </div>
             </div>
           </div>
           <div class="col-lg-4 col-md-6 pricing-column" >
               <div class="card">
                <div class="card-header"><h3>ORGANIZING COORDINATOR</h3></div>
                 <div class="card-body">
                  <h4>Dr.KANMANI</h4>
                  <button class="btn btn-lg btn-block btn-dark button-in-cart" type="button">9003793915</button>
                 </div>
             </div>
           </div>
        </div> 
        </div>
      </section>
  <!-- this is section for contact seperate -->

  <section  id="features">
     <div class="featureclass">
      <h1>CONTACT US</h1>

       <div  class="featureclass1">
          <i class="fa-brands fa-whatsapp fa-4x"></i>
          <h3>whatsapp</h3>
          <!-- <p class="feature-title">Number:+917448723340</p> -->
          <button class="btn btn-lg btn-block btn-dark button-in-cart" type="button">+917448723340</button>
        </div>
   
        <div  class="featureclass1">
          <i class="fa-brands fa-instagram fa-4x"></i>
          <h3>Instagram</h3>
          <!-- <p class="feature-title">Id:tanpsycon_2023</p> -->
          <button class="btn btn-lg btn-block btn-dark button-in-cart" type="button">tanpsycon_2023</button>
        </div>
 
        <div  class="featureclass1">
          <i class="fa-solid fa-envelope fa-4x"></i>
          <h3>Gmail</h3>
          <!-- <p class="feature-title">mailid:tanspycon2023@gmail.com</p> -->
          <button class="btn btn-lg btn-block btn-dark button-in-cart" type="button">tanspycon2023@gmail.com</button>
        </div>
      </div>
  </section>

 
<%- include("footer");-%>


