<%-include("header")%>
<section id="post">
<div class="container">
<h1>Form has been successfully submitted</h1>
<p>go to home page</p>
<button class="btn btn-outline-secondary search" type="submit"><a href="/">Home</a></button>
</div>
</section>

<%-include("footer")%>